.wrapper {
    padding-top: 4rem;
    margin: 0 auto;
    width: 600px;
    text-align: center;
  }

.form {
    display: flex;
    width: 100%;
    flex-direction: row; 
    justify-content: space-between;
    padding: 0;
  }
  
  .input {
    display: flex;
    width: 80%;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    border-radius: 4px;
    margin-bottom: .5rem;
    align-items: center;
    background-color: rgb(220, 233, 229);
  }

  .h1 {
    font-size: 2rem;
    color: #ccc;
  }


.button {
    font-size: 14px;
    width: 15%;
    height: 20px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #ccc;
    padding: 1rem 1rem;
    border-radius: 4px;
    margin: 0;
    align-items: center;
    cursor: pointer;
  }

.in {
    display: flex;
    box-sizing: border-box;
    width: 70%;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    border-radius: 4px;
    margin-bottom: .5rem;
    align-items: center;
  }

  .divTableItem {
      display: flex;
      flex-direction: row;
  }